@model GLab.Models.RegistrationModel

<div align="center" style="margin:200px auto; width:500px;" class="registration">
    @using (Html.BeginForm("Registration", "Account", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <h2>ახალი მომხმარებლის რეგისტრაცია</h2>

            <div class="reginpt">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { placeholder = "სახელი" }})
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
            
            <div class="reginpt">
                @Html.EditorFor(model => model.Surname, new { htmlAttributes = new { placeholder = "გვარი" }})
                @Html.ValidationMessageFor(model => model.Surname, "", new { @class = "text-danger" })
            </div>
            
            <div class="reginpt">
                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { placeholder = "ელ.ფოსტა" }})
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
            </div>
            
            <div class="reginpt">
                @Html.EditorFor(model => model.Password, new { htmlAttributes = new { placeholder = "პაროლი" }})
                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
            </div>

            <div class="reginpt">
                @Html.EditorFor(model => model.RepeatPassword, new { htmlAttributes = new { placeholder = "გაიმეორეთ პაროლი" }})
                @Html.ValidationMessageFor(model => model.RepeatPassword, "", new { @class = "text-danger" })
            </div>

            <div class="regBtn" style="margin-top:5px;">
                <input style="width:100%" type="submit" value="რეგისტრაცია" class="btn btn-success" />
            </div>
            <p style="color:red" class="RegistrationFailed">@ViewBag.RegistrationFailed</p>
            <p style="color:green" class="RegistrationSuccedeed">@ViewBag.RegistrationSuccess</p>
    }
</div>
